*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}
h1
{
    font-size: 50px;
    line-height:  64px; ;
    color: #222;
}
h2
{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4
{
    font-size: 20px;
    color: #222;
}
h6
{
    font-weight: 700;
    font-size: 12px;
}
p
{
    font-size: ;
    color: #222;
    margin: 15px 0 20px 0;
}
.section-p3
{
    padding: 40px 80px;
}
.section-m1
{
    margin: 40px 0;
}
body
{
    width: 100%;
}
/*heder start*/

#header
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px;
    background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li
{
    list-style: none;
    padding: 0 20px;
}
#navbar li a
{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
}
#navbar li a:hover , 
#navbar li a.active
{
    color: white;
}
#navbar li a.active::after
{
    content: "";
    width: ;
    height: ;
    background-color: #88178;
    position: absolute;

}
#mobile
{
    display: none;
    align-items: center;
}
#close
{
    display: none;
}

/*home*/
#hero
{
    background-image: url(download.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4
{
    padding-bottom: 15px;
}
#hero h1
{
    padding-bottom: 15px;
}
#product-1
{
    text-align: center;
}
#product-1 .pro
{
    width: 23%;
    min-width:250px ;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    cursor: pointer;
    box-sizing: 20px 20px 30px rgba(0,0,0,0.2);
    margin: 15px 0 0 20px;
    transition: 0.2s ease;
}
#product-1 .pro:hover
{
     box-sizing: 20px 20px 30px rgba(0,0,0,0.6);
}
#product-1 .pro img
{
    width: 100%;
    border-radius: 20px;
}
#product-1 .pro .details
{
    text-align: start;
    padding: 10px  0;
}
#product-1 .pro .details span
{
    color: #606063;
    font-size: 12px;

}
#product-1 .pro .details h5
{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product-1 .pro .details i
{
    font-size: 12px;
    color: rgba(243,181,25);
}
#product-1 .pro .details h4
{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product-1 .pro #cart
{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
}
#product-1 .pro-class
{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
/*social media colour*/
.yo
{
    color: red;
}
.wa
{
    color: green;
}
.in
{
    color: red;
}
.fb
{
    color: blue;
}
/*fotter*/
footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 5px 15px;
   background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
footer .col
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo
{

}
footer h4
{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p
{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer .gb
{
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin:  10px;
}
footer .gb:hover
{
    color: yellow;
}
.yt
{
    color: white;
}
@media (max-width:799px) {
    #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #088178;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 80px 0 0 10px;
}
#navbar.active
{
    right: 0px;
}
.logo{
    width: 30px;
    justify-content: left;
}

    #navbar li 
    {
        margin-bottom: 25px;
    }
    #mobile
{
    display: flex;
    align-items: center;
}
#mobile i
{
    font-size: 24px;
    color: white;
}
#close
{
    display: flex;
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 24px;
}
#hero
{
    height: 90vh;
    width: 100%;
    background-position: top 30% right 30%;
}
#product-1 .pro-class {
    justify-content: center;
}
}
/*pro*/
#pprodetails
{
    display: flex;
    margin-top: 20px;
}
#pprodetails .single-pro-image
{
    width: 40%;
    margin-right: 50px;
 
}
.dff{
    display: flex;
    justify-content: space-between;
}
.smallimgcol{
    flex-basis: 24%;
    cursor: pointer;
}
#pprodetails .single-pro-details
{
    width: 50%;
    padding-top:30px ;
}
#pprodetails .single-pro-details h4
{
    padding: 40px 0 20px 0 ;
}
#pprodetails .single-pro-details h2
{
    font-size:26px ;
}
#pprodetails .single-pro-details select
{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#pprodetails .single-pro-details input
{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#pprodetails .single-pro-details button
{
    background-color: #088178;
    color: #fff;
    height:40px;
    width: 100px;

}
#pprodetails .single-pro-details span
{
    line-height: 25px;
}